a {
    text-decoration: none;
}

.card {
    
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 0px 8px #ffffff;
}

.custom-card {
    border-radius: .6rem; /* el default de Bootstrap */
}

.custom-card > .card-img-top {
    border-top-left-radius: calc(.5rem - 4px);
    border-top-right-radius: calc(.5rem - 4px);
}
